.trackingContainer {
    border: 1px solid #dadada;
    border-radius: 5px;
    margin: 8rem 0;
    padding: 1rem 0 3rem 0px;
    .trackingDetails {
        &_shipment {
            border-bottom: 1px solid #dadada;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;

            &__data {
                display: flex;
                text-align: center;
                align-content: flex-start;
                align-items: center;
                justify-content: center;
                padding: 0px 50px;
                li {
                    display: inline-grid;
                    text-align: left;
                    margin: 0px 11rem 0 0;
                    &:last-child {
                        margin: 0;
                    }
                    label {
                        color: #4e4f51ba;
                        font-weight: 500;
                        font-family: "Cairo-SemiBold";
                        font-size: 1.2rem;
                    }
                    span {
                        font-size: 1rem;
                        color: black;
                        font-family: "Cairo-Bold";
                    }
                }
            }
        }
    }
    .trackingProgressBar {
        margin: 5px 0;
        padding: 0 2rem;
    }
}
