@font-face {
    font-family: "Cairo-Regular";
    src: local("Cairo-Regular"), url(../fonts/Cairo-Regular.ttf) format("woff");
}
@font-face {
    font-family: "Cairo-Light";
    src: local("Cairo-Light"), url(../fonts/Cairo-Light.ttf) format("woff");
}
@font-face {
    font-family: "Cairo-Bold";
    src: local("Cairo-Bold"), url(../fonts/Cairo-Bold.ttf) format("woff");
}
@font-face {
    font-family: "Cairo-SemiBold";
    src: local("Cairo-SemiBold"), url(../fonts/Cairo-SemiBold.ttf) format("woff");
}
@font-face {
    font-family: "Cairo-Black";
    src: local("Cairo-Black"), url(../fonts/Cairo-Black.ttf) format("woff");
}
